<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="profile.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>
    <title>Contact Profile</title>
</head>

<body>
    <div class="container">
        <header class="hero">
            <a href="home.html">
                <i class="fas fa-chevron-circle-left back-btn"></i>
            </a>
            <div class="hero-info">
                <h1 class="name">abanoub</h1>

            </div>
        </header>

        <section class="contact-info">

            <div class="info-line">
                <a href=".html">

                    <i class="fas fa-phone icon-gradient"></i>
                    <button class="button"> call</button>

            </div>


            <div class="info-line">
                <a href=".html">

                    <i class="fas fa-sms icon-gradient"></i>
                    <button class="button">chat</button>

            </div>


            <div class="info-line">
                <a href=".html">

                    <i class="fas fa-ban icon-gradient"></i>
                    <button class="button">block</button>

            </div>


            <section class="info-line">
                <a href=".html">

                    <i class="fas fa-heart icon-gradient"></i>
                    <button class="button"> favourite</button>

    </div>
    </a>
    </section>

</body>

</html>